.homeBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    padding: 20px;
}

.section{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.main-heading{
    color: rgb(23, 255, 178);
    font-size: 26px;
    display: flex;
    padding: 100px;
    justify-content: center;
   
}

.underlne{
    height: 04px;
    width: 4rem;
    background: rgb(65, 110, 95);
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-12{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    flex-direction: column;
}

.about-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.about-name{
    color: rgb(3, 14, 10);
    font-size: 26px;
    display: flex;
    padding: 100px;
    justify-content: center;
}
