.section{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.main-heading{
    color: rgb(65, 110, 95);
    font-size: 26px;
    display: flex;
    padding: 100px;
    justify-content: center;
   
}

.underlne{
    height: 04px;
    width: 4rem;
    background: rgb(65, 110, 95);
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-12{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    flex-direction: column;
}

.about-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.about-name{
    color: rgb(65, 110, 95);
    font-size: 26px;
    display: flex;
    padding: 100px;
    justify-content: center;
}
