.homeBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    padding: 20px;
}

.underlne{
    height: 04px;
    width: 4rem;
    background: rgb(65, 110, 95);
    margin-top: 10px;
    margin-bottom: 10px;
}

.homebodyPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.aboutPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.col-md-12{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;
}