.footer {
  background-color: #f7f7f7;
  color: #666;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  position:relative
}

.footer p {
margin: 0;
font-size: 0.9rem;
}