.profile-container {
  min-height: 100vh;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  /* align-items: center; */
  }
  
.profileCard {
  background: -webkit-linear-gradient(to right, #3f6b43, #606c88);
  background: linear-gradient(to right, #3f6b59, #618860);
  border: 10px;
  width: 100%;
}


.accountInfo {
  width:80%
}

.card {
  width: 50%;
}

.accountCard {
  background: -webkit-linear-gradient(to right, #3f6b43, #606c88);
  background: linear-gradient(to right, #3f6b59, #618860);
  border: 10px;
  width: 100%;

}